{% extends 'general/base.html' %}

{% load pygmentify %}

{% block title %}
    {{ paste.title }}
{% endblock %}

{% block content %}
    <h1>{{ paste.title }}</h1>
    <p class="date">
        Created {{ paste.created }}
    </p>
    <p class="share-link">
        Share <a href="{{ share_url }}">
            {{ share_url }}
        </a>
    </p>
    <p class="raw-link">
        Raw <a href="{{ raw_url }}">
            {{ raw_url }}
        </a>
    </p>
    <p>
        Language: {{ paste.syntax }}
    </p>
    {% pygment %}
        <pre lang="{{ paste.syntax }}">
            {{ paste.paste }}
        </pre>
    {% endpygment %}
{% endblock %}
