{% extends "general/base.html" %}

{% load lookup %}

{% block title %}My pastes{% endblock %}

{% block content %}
    <h1>My Pastes</h1>
        {% for paste in pastes %}
            <h2>
                <a href="{% url "paste_detail" paste.slug %}">
                    {{ paste.title }}
                </a>
            </h2>
            <p class="date">
                Created {{ paste.created }}
            </p>
            <p class="share-link">
                Share <a href="{{ share_urls | get_item:paste.title }}">
                {{ share_urls | get_item:paste.title }}
                </a>
            </p>
            <p class="raw-link">
                Raw <a href="{{ raw_urls | get_item:paste.title }}">
                {{ raw_urls | get_item:paste.title }}
                </a>
            </p>
        {% endfor %}
{% endblock %}